{% extends 'guest/base.html.twig' %}

{% block main %}
<div class="profil-bg">
    <div class="bg-image"></div>
    <div class="profil-content">
        <h1>Créer une pièce</h1>
        {{ form_start(insertPieceForm) }}
            {{ form_widget(insertPieceForm) }}
            <button type="submit" class="btn-custom">Valider</button>
        {{ form_end(insertPieceForm) }}
    </div>
</div>
{% endblock %}




