{% extends ('guest/base.html.twig') %}




     {% block main %}
     <main id="details-category">
        <h2>Catégorie : {{ category.name }}</h2>
        <p>Bienvenue sur la page de la catégorie {{ category.name }}.</p>
        <section id="list-pieces">
            {% for piece in pieces %}
                <div>{{ piece.name }}</div>
            {% else %}
                <div>Aucune pièce dans cette catégorie.</div>
            {% endfor %}
        </section>
    </main>
{% endblock main %}
      
