{% extends 'guest/base.html.twig' %}

{# This template is used to display the form for inserting a new piece #}

{% block metatitle %}créer novelle piece{% endblock metatitle %}




{% block main %}

    <main>
<h2 id="formPiece">Création de pièces</h2>
        <section class="formulaireInsertUser" id="formulaireInsertUser">
            <div class="imgMonaco">
            <img src="{{ asset('images/Virage Monaco.jpg') }}" alt="Image d'insertion de pièce" class="imageInsertPiece">
            </div>

            {{ form_row(insertPieceForm.price) }}
                

        </section>

    </main>

{% endblock main %}