{% extends 'guest/base.html.twig' %}



{% block metatitle %}Modifier la piece | Renault 21 TD{% endblock metatitle %}

{% block main %}
        
    <div class="profil-bg bg-update-piece">
        <div class="bg-image"></div>
            <div class="profil-content">
                <h2 id="formPiece">Modifier la pièce</h2>
                    {{ form(insertPieceForm) }}
            </div>
        </div>
            <div class="btn-back">
                <a href="{{ path('list-pieces') }}" class="btn btn-primary">Retour à la liste des pièces</a>
            </div>  

            {% for message in app.flashes('info') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
{% endblock main %}