{% extends 'guest/base.html.twig' %}

{# This template is used to display the form for inserting a new piece #}

{% block metatitle %}Modification pièce{% endblock metatitle %}




{% block main %}

    <main>

        <section class="formulaireInsertUser">

            <h2 id="formPiece">Modification de la pièce</h2>

            {{ form(insertPieceForm) }}
                

        </section>

    </main>

{% endblock main %}