{% extends 'guest/base.html.twig' %}



{% block metatitle %}Modifier la piece | Renault 21 TD{% endblock metatitle %}

{% block main %}
        
<div class="profil-bg">
    <div class="bg-image"></div>
    <div class="profil-content">
        <h2 id="formPiece">Modifier la pièces</h2>

        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">{{ flash_message }}</div>
        {% endfor %}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}

            {{ form(insertPieceForm) }}
 </div>
</div>
    <div class="btn-back">
        <a href="{{ path('list-pieces') }}" class="btn-custom">Retour à la liste des pièces</a>
    </div>           

{% endblock main %}