{% extends 'guest/base.html.twig' %}

{% block metatitle %}Reinitialiser le mot de passe{% endblock %}

{% block main %}
<div class="container mt-4" style="max-width: 520px;">
    <h1 class="h3 mb-3">Reinitialiser le mot de passe</h1>

    {{ form_start(resetPasswordForm) }}
        <div class="mb-3">
            {{ form_row(resetPasswordForm.plainPassword.first) }}
        </div>
        <div class="mb-3">
            {{ form_row(resetPasswordForm.plainPassword.second) }}
        </div>
        <button type="submit" class="btn btn-primary">Mettre a jour</button>
    {{ form_end(resetPasswordForm) }}
</div>
{% endblock %}
