{% extends ('guest/base.html.twig') %}

{% block metatitle %}Inscription | guest Renault 21 TD{% endblock metatitle %}

{%  block main %}

    <main id="mainInscription">
        <div id="imgForm">
            <div class="renault">
                <img src="{{ asset('asset/images/VoitureComplet.jpg') }}" alt="Photo de ma R21 td">
            </div>
            <section class="article">
                <!-- Contenu des pilules -->
                <div class="tab-content">
                {# contenu d'onglets, ajoute un effet de transition, 
                    onglet affiché dans bootstrap#}
                    <div class="tab-pane fade show active" 
                         id="pills-login"
                         role="tabpanel" {# ce block est le contenu d'un onglet #}
                         aria-labelledby="tab-login">{# ça contrôle l'onglet qui est relié à un bouton ou un lien#}

            <form method="post">
                <div class="user-inscription-form">
                    <div class="text-center mb-3">
                        <p>Se connecter avec :</p>
                            <div class="btn-group" role="group" aria-label="Social Media Buttons">
                                <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                                    <img src="{{ asset('asset/icones/logoGoogle.png') }}">
                                </button>
                            </div>
                        </div>
                                <p class="text-center">ou :</p>

                                <!-- Pseudo input -->
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="pseudo">Pseudo</label>
                                    <input type="text" name="pseudo" id="pseudo" class="form-control" />
                                </div>

                                <!-- Email input -->
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" />
                                    
                                </div>

                                <!-- Password input -->
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="loginPassword">Mot de passe</label>
                                    <input type="password" name="password" id="loginPassword" class="form-control" />
                                   
                                </div>
                                <!-- Password verification input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="verifPassword">Répétez le mot de passe</label>
                                    <input type="password" name="verifPassword" id="verifPassword" class="form-control" />
                                
                                </div>

                                <!--Grid row-->
                                <div class="row mb-4">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-3">
                                            <label class="form-check-label" for="loginCheck"> Se souvenir de moi </label>
                                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked/>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">Inscription</button>      
                            </form>
                        </div>
                    
            </section>
        </div>
        </div>
        <div class="container2">
            <h4>Le panthéon de la Renault 21 Turbo Diésel</h4>
            <div class="bouton">
                <label>
                    <button type="button">Entrez !</button>
                </label>
            </div>
        </div>
    </main>
{% endblock %}


