{% extends ('guest/base.html.twig') %}
{% metatitle %}
{% block main %}
    <main id="creer">
        <label>
            <input type="submit" name="create-piece">Créer une piece
        </label>
    </main>
{% enblock main %}

