{% extends ('guest/base.html.twig') %}


{% metatitle %}Créer une pièce | admin Renault 21 TD{% endmetatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/piece/create-piece.css') }}">
{% endblock stylesheets %}

{% include 'partial/_header.html.twig' %}

{% block main %}
    <main id="creer">
        <label>
            <input type="submit" name="create-piece">Créer une piece
        </label>
    </main>
{% enblock main %}

