{% extends ('guest/base.html.twig') %}




{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/piece/create-piece.css') }}">
{% endblock stylesheets %}



{% block main %}
    <main id="creer">
        <label>
            <input type="submit" name="create-piece">Créer une piece
        </label>
    </main>
{% endblock main %}

