{% extends 'base.html.twig' %}


{% block main %}{% endblock main %}

{% block footer %}

<footer>
    <nav class="navFooter">
        <div class="logoFooter">
            <img src="{{  asset('images/logoRenault.png') }}" alt="logo-renault">
        </div>
        <ul class="ulFooter">
            <li class="liFooter"><a href="{{ 'cgu' }}">CGU</a></li>
            <li class="liFooter"><a href="{{ 'politique_de_confidentialité' }}">Politique de confidentialité</a></li>
            <li class="liFooter"><a href="{{ 'newsletters' }}">Newsletters</a></li>
            <li class="liFooter">
                <label>
                    <input required type="email" placeholder="Entrez votre email">
                </label>
            </li>
        </ul>
    </nav>
</footer>
{% endblock footer %}