
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>	{% block metatitle %}Echanges de pièces R21 td{% endblock %}</title>
</head>
<body>

{% block header %}
    <nav class="navHeader">
        <img class="logoHeader" src="asset/images/logoRenault.png" alt="logo-header">
        <ul class="ulHeader">
            <li class="liHeader"><a href="inscription">Inscription</a></li>
            <li class="liHeader"><a href="messages">messages</a></li>
            <li class="liHeader"><a href="liste_de_pieces">Liste de pièces</a></li>
            <li class="liHeader"><a href="connection">Connexion</a></li>
        </ul>
    </nav>

    <section>
        <article class="article">
        <img src="asset/images/mavoiture.png" alt="Photo de ma R21 td">
            <h1>Bienvenue sur Echange-de-pièces.fr</h1>
                <h2>Le site des passionnés Renault 21 TD</h2>
                    <p>Ce site est pour les passionnés de la Renault 21 Turbo Diésel.<br>Ici, échangez gratuitement vos pièces détachées, connectez-vous<br>avec d'autres passionnés et trouvez exactement ce dont vous<br>
                     avez besoin pour entretenir votre véhicule.<br>Inscription facile, liste de pièces complètes et messagerie direct<br>
                     entre utilisateurs pour des échanges rapides, efficaces et sécurisés</p>
            <h3>Rejoignez-nous !</h3>
            <button>Découvrir</button>
            <img src="asset/images/voitureRouge.png" alt="logo-auto-rouge">
            <img src="asset/images/cle.png" alt="logo-clef-a-molette">
        </article>
    </section>
{% endblock header %}
</body>
</html>