

<form action="{{ path('search-results') }}" method="get" class="form-inline my-2 my-lg-0 bg-dark p-2 rounded">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Rechercher une pièce..." aria-label="Rechercher" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
</form>

